<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1" />
<title>Financial Reporter</title>
<link type="text/css" rel="stylesheet"
	href="/../../resources/css/bootstrap.min.css" th:href="@{/resources/css/bootstrap.min.css}" />
<link type="text/css" rel="stylesheet"
	href="/../../resources/css/jquery-ui.min.css" th:href="@{/resources/css/jquery-ui.min.css}" />
<script src="/../../resources/css/jquery-1.11.3.min.js"
	th:src="@{/resources/css/jquery-1.11.3.min.js}"></script>
<script src="/../../resources/css/bootstrap.min.js"
	th:src="@{/resources/css/bootstrap.min.js}"></script>
<script src="/../../resources/css/jquery-ui.min.js"
	th:src="@{/resources/css/jquery-ui.min.js}"></script>



<style>
body {
	padding-top: 70px;
	/* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

.ui-datepicker-calendar {
	display: none;
}
</style>
</head>
<body>
	<div th:include="fragments/navbar :: navigation_bar"></div>

	<div class="container">
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>Clients</th>
					<th>Sectors</th>
					<th>Projects</th>
					<th>Sales Person</th>
					<th>Plan Date</th>
					<th>Plan Cogs</th>
					<th>Plan Opex</th>
					<th>Provision Cost Date</th>
					<th>Provision Cost Cogs</th>
					<th>Provision Cost Opex</th>
					<th>Closing Provsion Date</th>
					<th>Closing Provsion Cogs</th>
					<th>Closing Provsion Opex</th>
					<th>Status</th>
					<th>Rem amo cogs</th>
					<th>Rem amo opex</th>
				</tr>
			</thead>
			<th:block th:each="res : ${reservations}">
				<tr>
					<td th:text="${res.client.client}">A Smoke Test'</td>
					<td th:text="${res.sectorr.sector}">A Smoke Test'</td>
					<td th:text="${res.project.project}"></td>
					<td th:text="${res.seller.seller}">A Smoke Test'</td>
					<td th:text="${res.pDate}">A Smoke Test'</td>
					<td th:text="${res.pCogs}">A Smoke Test'</td>
					<td th:text="${res.pOpex}">A Smoke Test'</td>
					<td th:text="${res.provCostDate}">A Smoke Test'</td>
					<td th:text="${res.provCostCogs}">A Smoke Test'</td>
					<td th:text="${res.provCostOpex}">A Smoke Test'</td>
					<td th:text="${res.closingProvisionDate}">A Smoke Test'</td>
					<td th:text="${res.closingProvisionCogs}">A Smoke Test'</td>
					<td th:text="${res.closingProvisionOpex}">A Smoke Test'</td>
					<td th:text="${res.status.status}">A Smoke Test'</td>
					<td th:text="${res.remAmountCogs}">A Smoke Test'</td>
					<td th:text="${res.remAmountOpex}">A Smoke Test'</td>


				</tr>
			</th:block>
		</table>


		<button type="button" class="btn btn-info btn-lg" data-toggle="modal"
			data-target="#myModal">Add Reservation</button>


		<!-- Modal -->
		<div id="myModal" class="modal fade" role="dialog">
			<div class="modal-dialog">

				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h2 class="modal-title">New Reservation</h2>
					</div>
					<div class="modal-body">

					</div>
				</div>
			</div>
		</div>
	</div>

	<div th:include="fragments/footer :: footer"></div>

	<script type="text/javascript" th:inline="javascript">
		$('input[type=date]').each(function() {
			this.type = "text";
		});

		$(".date-picker")
				.datepicker(
						{
							changeMonth : true,
							changeYear : true,
							showButtonPanel : true,
							dateFormat : 'MM yy',
							onClose : function(date, inst) {
								var month = $(
										"#ui-datepicker-div .ui-datepicker-month :selected")
										.val();
								var year = $(
										"#ui-datepicker-div .ui-datepicker-year :selected")
										.val();
								$(this).datepicker('setDate',
										new Date(year, month, 1));
							}
						});
	</script>
</body>
</html>